Projet B/flows.json
[
    {
        "id": "4dae3f4d22fed9e7",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a7d2e5f52d4bbd93",
        "type": "ui_group",
        "name": "Name",
        "tab": "3ff386df44c5e2cf",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ff386df44c5e2cf",
        "type": "ui_tab",
        "name": "Sub",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1e9acb8dbc2e4819",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "75fb358cf3c8418e",
        "type": "Generic BLE",
        "localName": "Test enhanced advertising",
        "address": "72:4a:49:b5:8d:45",
        "uuid": "724a49b58d45",
        "characteristics": [
            {
                "uuid": "2a00",
                "name": "Device Name",
                "type": "org.bluetooth.characteristic.gap.device_name",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a01",
                "name": "Appearance",
                "type": "org.bluetooth.characteristic.gap.appearance",
                "notifiable": false,
                "readable": true,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "2a05",
                "name": "Service Changed",
                "type": "org.bluetooth.characteristic.gatt.service_changed",
                "notifiable": false,
                "readable": false,
                "writable": false,
                "writeWithoutResponse": false
            },
            {
                "uuid": "e",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "0",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "ca00",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            },
            {
                "uuid": "ba0c",
                "name": "<Unnamed>",
                "type": "(Custom Type)",
                "notifiable": false,
                "readable": true,
                "writable": true,
                "writeWithoutResponse": false
            }
        ]
    },
    {
        "id": "5f2cfc3e066a927f",
        "type": "Generic BLE in",
        "z": "4dae3f4d22fed9e7",
        "name": "BLE ",
        "genericBle": "75fb358cf3c8418e",
        "useString": true,
        "notification": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "0347c443cc69ea4b"
            ]
        ]
    },
    {
        "id": "9be7991b21b9fb98",
        "type": "inject",
        "z": "4dae3f4d22fed9e7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "5f2cfc3e066a927f"
            ]
        ]
    },
    {
        "id": "2d5a14ed2cc61331",
        "type": "debug",
        "z": "4dae3f4d22fed9e7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "0347c443cc69ea4b",
        "type": "json",
        "z": "4dae3f4d22fed9e7",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "2d5a14ed2cc61331",
                "c7944bbc33b3d3da"
            ]
        ]
    },
    {
        "id": "c7944bbc33b3d3da",
        "type": "ui_text",
        "z": "4dae3f4d22fed9e7",
        "group": "a7d2e5f52d4bbd93",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "name",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 360,
        "wires": []
    }
]